<app-header />

<main>
  <ul id="users">
    @for (item of users; track item.id) {
    <li>
      <!-- <li *ngFor="let item of users"> -->
      <app-user [user]="item" [selected]="item.id === selectedUserId" (select)="onSelect($event)" />
    </li>
    }
  </ul>

  @if (selectedUser){
  <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser.name" /> -->
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <!-- <ng-template #fallback> -->
  <p id="fallback">Please select a user to see their tasks.</p>
  <!-- </ng-template> -->

  }

</main>

<router-outlet />